/.gitee/
/.idea/
/.vscode/
/sparchetype/.mvn/
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties
/target/
/build/
/classes/
/*.jar
/*.war
/*.nar
/*.ear
/*.zip
/*.tar.gz
/*.rar
/logs/
*.log
*.sql
*.bak
*.class
.DS_Store
Thumbs.db
app_output.log
